* {
  margin: 0;
  padding: 0;
}

.header{ 
  border: 2px solid red;
  height: 100px;
  display: flex;
  align-items: center;
}

.header .logo img{
  width: 75px;
  height: 75px;
  margin-left: 30px;
  margin-top: 10px;
  border-radius: 50%;
}

.navbar {
  margin-left: auto;
}

.navbar a {
  margin-right: 75px;
}